.container {
  padding: 1rem;
}

.container ul {
  list-style: none;
  text-align: start;
  padding-inline-start: 0;
}

.container ul li {
  padding: 0.5rem;
  width: 24rem;
  display: flex;
  justify-content: space-between;
}
